
@{
    ViewData["Title"] = "Generate Password";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Generated Password:</h2>
                    <p class="card-text">@ViewBag.Password</p>
                    <a href="#" onclick="location.reload();" class="btn btn-primary btn-block">Generate New Password</a>
                </div>
            </div>
        </div>
    </div>
</div>


@*This is simply to check if password has been compromised. *@
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center">Check if Your Password Has Been Compromised</h2>

        <form method="post" asp-action="">
            <div class="form-group">
                <label for="password">Enter your password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Check</button>
        </form>

        @if (Model != null)
        {
            <div class="alert alert-@(ViewBag.AlertType) mt-3" role="alert">
                @ViewBag.Message
            </div>
        }
    </div>
</div>

